.linedBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.verticalLinesContainer,
.horizontalLinesContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.verticalLinesContainer {
  flex-direction: row;
}

.horizontalLinesContainer {
  flex-direction: column;
}

.verticalLine {
  width: 1px;
  height: 100%;
  background-color: var(--primary-color);
  opacity: 0.1;
}

.horizontalLine {
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
  opacity: 0.1;
}
